<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="TransactionLogger" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>jdbc/TransactionLoggerDev</jta-data-source>
    <class>com.erbjuder.entity.impl.EdgeConstraints</class>
    <class>com.erbjuder.entity.impl.Edge</class>
    <class>com.erbjuder.entity.impl.FlowConfiguration</class>
    <class>com.erbjuder.entity.impl.Graph</class>
    <class>com.erbjuder.entity.impl.LogMessageData</class>
    <class>com.erbjuder.entity.impl.LogMessage</class>
    <class>com.erbjuder.entity.impl.LogMessageMetaInfo</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max20B</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max40B</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max60B</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max80B</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max100B</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max150B</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max200B</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max255B</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max64KB</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max1MB</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max2MB</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max3MB</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max4MB</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max5MB</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max10MB</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max16MB</class>
    <class>com.erbjuder.entity.impl.LogMessageData_Max4GB</class>
    <class>com.erbjuder.entity.impl.Node</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <shared-cache-mode>ALL</shared-cache-mode>
    <properties>
      <property name="eclipselink.ddl-generation" value="create-tables"/>
      <property name="eclipselink.logging.level" value="FINE"/>
      <property name="eclipselink.logging.parameters" value="true"/>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>
